

body {
    background-color: #879c9f;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1, h3{
    text-align: center;
    background-color: rgb(26, 40, 43);
    color: rgb(109, 128, 138);
    padding: 0;
    margin: 0;
    display: block;
}

body img{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(26, 40, 43);
    display: block;
    margin: 0 auto;
}

h2{
    text-align: left;
}

p{
    text-align: left;
}

footer{
    text-align: center;
    background-color:rgb(26, 40, 43);
    color: rgb(109, 128, 138);
}